*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: url(images/w-qjCHPZbeXCQ-unsplash.jpg);
    background-size: cover;
}
.navigation{
    float: right;
    margin-top: 20px;
    margin-right: 100px;
}
.navigation a{
color: white;
border: 2px solid white;
}
.navigation a:hover{
background-color:red;
    color: black;
    transition: 0.5s ease-in-out; 
}

.sidebar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    padding:50px;
}
.detail{
    margin-left: 20%;
    margin-top: 10%;
}
.detail{
    font-size: 20px;
    color: #222;;
    margin-bottom: 20px;
}
.images{
    width: 30%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right: 60px;
}
.images img{
    height: 80%;
    position: absolute;
    left: 30%;
    bottom: 0;
    transform: translateX(-60%);
    transition: bottom 1s;
}
.images :hover girl{
    bottom: 35%;
}
.about{
    margin-top:5%;
    margin-left:35%;
}
.contents{
    border: 9px solid red;
    background-color: #ccc;
    width: 52%;
    float: left;
    margin-left: 2px;
    height:20em;
    padding:5px;
}
.contact-head{
color: black;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
text-decoration: underline;
}
.contact-form{
    margin-left: 25%;
}
.contact-form button{
    color: black;
    background-color: gainsboro;
    width: 100px;
    margin-left: 70px;
}
.education{
    width: 80%;
    margin: 70px;
    
        float :right;
    margin-top: 5%; 
    margin-left: 35%;  
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.skills{
    float: right;
    margin-top: 5%;
    margin-left: 35%;
    width: 80%;
    margin: 70px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.experience{
    margin-top: 5%;
    margin-left: 35%;
    float: right;
    width: 80%;
    margin: 70px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer{
    color: white;
    background-color:black;
    height: 1.5em;
    margin-top:70%;
    text-align: center;
}





